/** menu nav **/
.menu-nav .router-link-exact-active li,
.menu-nav .router-link-exact-active li:hover {
 font-weight: 500;
 border-bottom:none;
 background:white;
 box-shadow: inset 0px 6px 0px 0px #8C8C8C;
}

.menu-nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background:#F8F8F8;
}
.menu-nav a{
  width:calc(100%/11);
  text-decoration: none;
}

.menu-nav li {
  text-align:center;
  font-size: 14px;
  background:#EDECEC;
  border-right:1px solid #e4e1e1;
  color: #4A4A4A;
  padding:20px;
}

.menu-nav a:first-child li{
  border-radius: 20px 0px 0px 0px;
}
.menu-nav a:last-child li{
  border-radius: 0px 20px 0px 0px;
}

.menu-nav a:hover li{
  background: #F8F8F8;
}

.menu-nav a:hover{
  text-decoration: none;
  font-color:black;
}


/***********************/
/* Projecs/Todo Panel **/
/***********************/

/* project */
.projecttodo-list{
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  border-radius: 15px;
  margin-top:15px;
}
.projecttodo-list ul {
  list-style-type:none;
  padding: 0;
  margin:0;
}
.projecttodo-list ul li {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
}
.projecttodo-list ul li:first-child{
  border-radius: 15px 15px 0 0;
}
.projecttodo-list ul:last-child li:last-child{
  border:none;
}
.projecttodo-list ul li p {
  padding: 0;
  margin:0;
}
.projecttodo-list ul .project-todo-list_title p
 {
  display: inline-block;
}
.projecttodo-list ul .project-todo-list_title a,
.projecttodo-list ul .project-todo-list_title span
 {
  display: inline-block;
  float: right;
}
.project-todo-list_title {
  background:#F8F8F8;
}
/*To do list*/
.todo-list li {
  min-height:3.5vh;
}
.todo-list li p{
  display:inline-block;
}
.todo-list li:not(:first-child) span:not(:first-child) {
  float:right;
  margin-right:3%;
  cursor: pointer;
}
/*To do Modal*/
.modal-header {
  border:none;
}
.modal-dialog {
  margin: 40vh auto;
}
.modal-content {
  border-radius: 15px;
}
.modalfooter {
  width:100%;
}
.btn-save {
  background: #4A4A4A;
    color: white;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    float:right;
    margin-left: 1%;
}
.btn-cancel {
    background: white;
    border: 1px solid #CFCDCD !important;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    float: right;
}
/* Button Small Style */

.new-btn_sm {
    background: #979494;
    width: 30px;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    float: right;
    bottom: 5px;
    position: relative;
    cursor:pointer;
}
.new-btn_sm:hover {
  background:##777474;
}
